<%= simple_form_for(@question, :html => { :class => "form-inline" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <!--%= f.input :content %-->
    <%= f.input :body, :as => :kindeditor %>
    <!--%= f.input :focus_by %-->
    <%= f.input :score, :as =>:integer %>
    <!--%= f.input :created_by %-->
    <!--%= f.input :views_count %-->
    <!--%= f.input :delta %-->
    <!--%= f.input :last_answer_time %-->
    <!--%= f.input :best_answer_id %-->

    <span class="label label-info">tags</span>
    <%= f.input :identity_list, :collection => @identities,  :selected => (@question_identities.map(&:id) if @question_identities.present?),
         :input_html => { :rows =>"5", :cols =>"20" ,
             :onchange => "#{remote_function(:url  => {:action => 'update_timelines'},:with => "'identity_id='+value")}"

            }
      %>
    <%= f.input :timeline_list do %>
      <div id="timeline_list">
        <%= render :partial => 'timelines', :object => @timelines  %>
      </div>
    <% end %>
    <%= f.input :category_list do %>
    <div id="category_list">
      <%= render :partial => 'categories', :object => @categories  %>
    </div>
    <% end %>

    <%= f.input :tag_list,:hint => "请输入标签名，并以英文逗号(',')隔开...", :input_html => { :rows =>"5", :cols =>"20" } %>

    <% if @question.new_record? %>
      <%= f.input :created_by, :as => :hidden, :input_html => { :value => (current_user.id if current_user.present?) } %>
      <%= f.input :created_at, :as => :hidden, :input_html => { :value => Time.now } %>
    <% else %>
      <%= f.input :updated_at, :as => :hidden, :input_html => { :value => Time.now} %>
    <% end %>
    <!--%= f.input :answers_count %-->
    <!--%= f.input :experts_count %-->
    <!--%= f.input :designated_answerer %-->
    <!--%= f.input :auto_tags %-->
    <!--%= f.input :knowledge_id %-->
    <%= f.input :is_anonymous %>
    <%= f.input :soft_deleted, :as => :boolean, :input_html => {:checked =>  @question.deleted_at? ? "checked" : ""} %>
    <!--%= f.input :deleted %-->
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :disable_with => 'loading...' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
