<%- model_class = @question.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.show', :model => model_class.model_name.human) %></h1>
</div>


<%= show_for @question do |s| %>
  <%= s.attribute :title %>
  <!--%= s.attribute :content %-->
  <%= s.attribute :score %>
  <%= s.attribute :body, :value => (raw @question.body) %>
  <%= s.attribute :focus_by %>
  <%= s.attribute :created_by %>
  <%= s.attribute :views_count %>
  <%= s.attribute :delta %>
  <%= s.attribute :last_answer_time %>
  <%= s.attribute :best_answer_id %>
  <%= s.attribute :created_at %>
  <%= s.attribute :updated_at %>
  <%= s.attribute :answers_count %>
  <%= s.attribute :experts_count %>
  <%= s.attribute :designated_answerer %>
  <!--%= s.attribute :auto_tags %-->
  <%= s.attribute :knowledge_id %>
  <%= s.attribute :is_anonymous %>
  <%= s.attribute :deleted_by %>
  <%= s.attribute :deleted_user %>
  <%= s.attribute :deleted_at, :format => :short %>
<% end %>

<div class="actions">
  <% if can? :read, @question %>
    <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
              questions_path, :class => 'btn'  %>
  <% end %>
  <% if can? :update, @question %>
    <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
              edit_question_path(@question), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @question %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
              question_path(@question),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <% end %>
</div>
