<!--% title "#{params[:action]}||#{params[:controller]}" -%-->
<!--% description "这个是页面描述" -%-->
<!--% keywords "ror页面seo" -%-->
<!--%= link_to "lastest_log",common_lastest_log_path, :remote => true %-->
<%# from_time = Time.now%>
<%#= distance_of_time_in_words_to_now(from_time - 3.seconds,  include_seconds = true)%>
<%#= time_ago_in_words(from_time - 3.seconds,  include_seconds = true)%>
<%# timeago_tag Time.zone.now, :nojs => true, :limit => 10.days.ago%>
<%# render 'focus_recommendation_carousel',  focus_recommendation_slide: focus_recommendation_slide if focus_recommendation_slide.present? %>

<div class="hero-unit">
  <h1>Yeah, It's BBTangCMS !</h1>
  <p><%= user_welcome user: current_user%> , <%= today_work_summary(item_type_list = Setting.version_mod.split(' '))%></p>
  <% if new_messages(user = current_user)%>
    <p><%= new_messages_notice(user = current_user)%>,<%= link_to "#{I18n.t('common.enter_inbox')}", messages_path(:inbox)%></p>
  <% end %>
  <p>
    <%= link_to t("common.menu.work_dashboard"), work_dashboard_path, class: "btn btn-primary btn-large", :rel => "popover" %>
  </p>
  <br />
  <i><%# raw "用户近期来源统计：<br />" << (raw user_newest_count.collect{|item| distance_of_time_in_words_to_now(item.first) << "之内新增#{User.model_name.human}" << "#{item[1]}：" << "其中" << item[2].collect{|source| source.collect{|k,v| I18n.t("authorization.source.#{k}")<< " #{v}"}.join(" ")}.join(",") }.compact.join(";<br />") << "。") if user_newest_count.present? %></i>
  <br />
  <i class="pull-right"><%= "#{users_summary}, #{newest_users_summary}" %></i>

</div>

<div class="item box">
<%- knowledge_model_class = Knowledge.new.class -%>
<h1><%=t '.title', :default => knowledge_model_class.model_name.human %></h1>

<table class="table table-striped">
  <tr>
    <th><%= knowledge_model_class.human_attribute_name(:id) %></th>
    <th><%= knowledge_model_class.human_attribute_name(:title) %></th>
    <th><%= knowledge_model_class.human_attribute_name(:created_name) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>

<%- indicates = true %>
<% @knowledges.each do |knowledge| %>
  <tr class=<%= (indicates =!indicates) ? "success" : "info"%>>
    <td><%= link_to knowledge.id, knowledge_path(knowledge), :title => object_summary(obj = knowledge), :rel => "tooltip" %></td>
    <td><%= knowledge.title %></td>
    <td><%= knowledge.created_name %></td>
    <td>
          <% if can? :read, knowledge %>
          <%= link_to t('.show', :default => t("helpers.links.show", :model => knowledge_model_class.model_name.human)),
                      knowledge_path(knowledge),
                      :class => 'btn btn-mini',
                      :title => "#{t("helpers.links.show", :model => knowledge_model_class.model_name.human)} #{knowledge}",
                      "data-content" => object_summary(obj = knowledge, column = "summary"),
                       :rel => "popover"%>
          <% end %>
          <% if can? :update, knowledge %>
            <%= link_to t('.edit', :default => t("helpers.links.edit", :model => knowledge_model_class.model_name.human)),
                      edit_knowledge_path(knowledge),
                      :class => 'btn btn-mini',
                      :title => "#{t("helpers.links.edit", :model => knowledge_model_class.model_name.human)} #{knowledge}",
                      "data-content" => object_summary(obj = knowledge, column = "summary"),
                       :rel => "popover"
                        %>
          <% end %>
          <% if can? :destroy, knowledge %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => knowledge_model_class.model_name.human)),
                      knowledge_path(knowledge),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger'

                       %>
          <% end %>
                      </td>
  </tr>
<% end %>
</table>
</div>
<div class="item box">
  <%= render :template => 'recommend/dashboard/show'%>
</div>
<% if newest_users.present? %>
  <div class = "newest_users box">
    <span class="label label-important"><%= t(".newest_user") %></span>
    <h1><%= t(".newest_user") %></h1>
    <ul class="thumbnails">
      <% newest_users[0..100].each do |u|%>
        <li class='span2'>
          <div class='thumbnail'>
            <%= image_tag(get_face_url(u.profile,:size => :original ), :height => '120', :width => '160', :title => "#{u}", :class => "img-rounded")%>
            <div class='caption'>
              <h5><%= "#{u}" %></h5>
                <span class='badge'><%= "#{u.class.human_attribute_name(:created_at)}" %></span>
                <p><%= time_tag u.created_at, :format=>:short %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
