<%= render "work/shared/top_nav_bar" %>
<%- model_class = Contact.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class = "contacts box">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <%- indicates = true %>
    <% @work_contacts.each do |work_contact| %>
      <tr class=<%= (indicates =!indicates) ? "success" : "info"%>>
        <td><%= link_to work_contact.id, work_contact_path(work_contact), :title => object_summary(obj = work_contact), :rel => "tooltip" %></td>
        <td><%= work_contact.email %></td>
        <td><%= work_contact.subject %></td>
        <td><%= truncate(work_contact.message) %></td>
        <td><%=time_tag work_contact.created_at, :format => :short if work_contact.created_at?   %></td>
        <td><%=time_tag work_contact.updated_at, :format => :short if work_contact.updated_at?   %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                      work_contact_path(work_contact),
                      :class => 'btn btn-mini',
                      :title => "#{t("helpers.links.show", :model => model_class.model_name.human)} #{work_contact}",
                      "data-content" => object_summary(obj = work_contact, column = "message"),
                       :rel => "popover"
                       %>
          <% if can? :update, work_contact %>
            <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
                      edit_work_contact_path(work_contact),
                      :class => 'btn btn-mini',
                      :title => "#{t("helpers.links.edit", :model => model_class.model_name.human)} #{work_contact}",
                      "data-content" => object_summary(obj = work_contact, column = "message"),
                       :rel => "popover"
                       %>
          <% end %>
          <% if can? :destroy, work_contact %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                      work_contact_path(work_contact),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
          </td>
      </tr>
<% end %>
</table>

<br />

<!--% if can? :create, Contact %-->
  <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
            new_work_contact_path,
            :class => 'btn btn-primary' %>
<!--% end %-->

</div>
