<%- model_class = @profile.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.show', :model => model_class.model_name.human) %></h1>
</div>

<%= show_for @profile do |s| %>
  <%= s.association :user do %>
    <%= @profile.user.email %>
  <% end %>
  <%= s.attribute :real_name %>
  <%= s.attribute :nickname %>
  <%= s.association :level %>
  <%= s.attribute :face  do %>
    <% image_tag @profile.face(:s120) if @profile.face.present? %>
  <% end %>
  <%= s.attribute :gender do %>
    <%= content_tag :span, t("activerecord.attributes.profile.gender_#{@profile.gender? ? 1 : 0}") %>
  <% end %>
  <!--%= s.attribute :face %-->
  <%= s.attribute :birthday %>
  <%= s.attribute :degree %>
  <%= s.attribute :city %>
  <%= s.attribute :phone %>
  <%= s.attribute :child_birthday %>
  <%= s.attribute :baby_gender do %>
    <%= content_tag :span, t("activerecord.attributes.profile.baby_gender_#{@profile.gender? ? 1 : 0}") %>
  <% end %>
  <%= s.attribute :profession %>
  <%= s.attribute :expert_field %>
  <%= s.attribute :hobby %>
  <%= s.attribute :focus_tags_on %>
  <%= s.attribute :pregnancy_status, :value => @profile.pregnancystatus %>
  <%= s.attribute :agerange, :value => @profile.age_range %>
  <%= s.attribute :pregnancy_timeline, :value => @profile.pregnancytimeline %>
  <%= s.attribute :label %>
  <%= s.attribute :weibo %>
<% end %>

<%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)), edit_profile_path(@profile), :class => 'btn' %> |
<%= link_to  t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)), profiles_path, :class => 'btn' %>
