<div class="link-settings">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="link-name">链接名称</th>
        <th class="link-href">链接地址</th>
        <th class="link-logo">链接LOGO</th>
        <th class="link-sequence">显示顺序</th>
        <th class="link-action">操作</th>
      </tr>
    </thead>
    <tbody>
      <% links = AdminSetting.find_all_by_name("link") %>
      <% links.each do |link| %>
        <% value = JSON.parse(link.value) %>
        <tr id="link-<%= link.id %>">
          <td class="link-name"><%= value["name"] %></td>
          <td class="link-href"><%= link_to value["href"], value["href"] %></td>
          <td class="link-logo"><%= image_tag(value["logo"], :size => "120x100")if value["logo"].present? %></td>
          <td class="link-sequence"><%= value["sequence"] %></td>
          <td class="link-action">
            <%= link_to "编辑", "/admin/links_settings/edit_link?link_id=#{link.id}&setting_type=#{@setting_type}&setting_subject=#{@setting_subject}", :class => 'btn btn-mini' %>
            <%= link_to "删除", "/admin/links_settings/delete_link?link_id=#{link.id}", :confirm => "你确定要删除该链接？",:class => 'btn btn-mini btn-danger' , :remote => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "添加新链接", "/admin/links_settings/new_link", :class => 'btn btn-primary' %>

</div>
