<h1>Listing recommend_recommend_mtools</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Body</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recommend_recommend_mtools.each do |recommend_recommend_mtool| %>
  <tr>
    <td><%= recommend_recommend_mtool.position %></td>
    <td><%= recommend_recommend_mtool.name %></td>
    <td><%= recommend_recommend_mtool.body %></td>
    <td><%= recommend_recommend_mtool.created_at %></td>
    <td><%= recommend_recommend_mtool.updated_at %></td>
    <td><%= link_to 'Show', recommend_recommend_mtool %></td>
    <td><%= link_to 'Edit', edit_recommend_recommend_mtool_path(recommend_recommend_mtool) %></td>
    <td><%= link_to 'Destroy', recommend_recommend_mtool, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommend mtool', new_recommend_recommend_mtool_path %>
