<%- model_class = Recommend::RecommendProduct.new.class -%>

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<div class = "recommend_recommend_product box">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:position) %></th>
        <th><%= model_class.human_attribute_name(:order) %></th>
        <th><%= model_class.human_attribute_name(:image) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:price) %></th>
        <th><%= model_class.human_attribute_name(:cnt_buy) %></th>
        <th><%= model_class.human_attribute_name(:cnt_comment) %></th>
        <th><%= model_class.human_attribute_name(:link_url) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%= model_class.human_attribute_name(:updated_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @recommend_recommend_products.each do |recommend_recommend_product| %>
        <tr>
          <td><%= recommend_recommend_product.post_name %></td>
          <td><%= recommend_recommend_product.order %></td>
          <td><%=image_tag recommend_recommend_product.image, :size => "128x128" %></td>
          <td><%= recommend_recommend_product.title %></td>
          <td><%= recommend_recommend_product.price %></td>
          <td><%= recommend_recommend_product.cnt_buy %></td>
          <td><%= recommend_recommend_product.cnt_comment %></td>
          <td><%= recommend_recommend_product.link_url %></td>
          <td><%= recommend_recommend_product.created_at %></td>
          <td><%= recommend_recommend_product.updated_at %></td>
          <td><%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)), recommend_recommend_product, :class => 'btn btn-mini' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)), edit_recommend_recommend_product_path(recommend_recommend_product), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)), recommend_recommend_product, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br />

  <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)), new_recommend_recommend_product_path %>
</div>
