<h1><%=t '.recommend_title' %></h1>

<div class="dashboard box">
  <ul>
    <li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendProduct.new.class.model_name.human)),
            recommend_recommend_products_path %> </li>
    <!--li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendQuestion.new.class.model_name.human)),
            recommend_recommend_questions_path %></li-->
    <li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendSubject.new.class.model_name.human)),
            recommend_recommend_subjects_path %></li>
    <li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendTag.new.class.model_name.human)),
            recommend_recommend_tags_path %></li>
    <li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendUser.new.class.model_name.human)),
            recommend_recommend_users_path %></li>
    <li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendQuiz.new.class.model_name.human)),
            recommend_recommend_quizzes_path %> </li>
    <li> <%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendHindex.new.class.model_name.human)),
            recommend_recommend_hindices_path %> </li>
      <li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendPtag.new.class.model_name.human)),
              recommend_recommend_ptags_path %></li>
      <li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::ExpertCategory.new.class.model_name.human)),
              recommend_expert_categories_path %></li>
      <li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::VipCategory.new.class.model_name.human)),
              recommend_vip_categories_path %></li>
      <li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::OtherColumn.new.class.model_name.human)),
              recommend_other_columns_path %></li>
      <li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendApp.new.class.model_name.human)),
              recommend_recommend_apps_path %></li>
      <li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendOther.new.class.model_name.human)),
              recommend_recommend_others_path %></li>
    <!--li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendEvent.new.class.model_name.human)),
            recommend_recommend_events_path %></li-->
    <!--li><%= link_to t('.index', :default => t("helpers.links.index", :model => Recommend::RecommendMtool.new.class.model_name.human)),
            recommend_recommend_mtools_path %></li-->
  </ul>
</div>
