
<%- model_class = Attachment.new.class -%>
<div class="page-header">
  <h1><%=t '.index', :default => model_class.model_name.human.pluralize %></h1>
  
  <%= render("common/mod_newest_summary", model_class: model_class) if model_class.present?%>
</div>

<div class = "attachment box">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:attachment) %></th>
      <!--th><%= model_class.human_attribute_name(:attachment_file_name) %></th-->
      <!--th><%= model_class.human_attribute_name(:attachment_content_type) %></th-->
      <th><%= model_class.human_attribute_name(:attachment_file_size) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <!--th>Purpose</th-->
      <!--th>Note</th-->
      <th><%= model_class.human_attribute_name(:created_user) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <!--th><%= model_class.human_attribute_name(:updated_user) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%= model_class.human_attribute_name(:deleted_user) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <%- indicates = true %>
    <% @attachments.each do |attachment| %>
      <tr class=<%= (indicates =!indicates) ? "success" : "info"%>>
        <td><%= link_to attachment.id, attachment_path(attachment) %></td>
        <td><%= link_to(image_tag(attachment.attachment.url(:s120)),attachment.attachment.url(:s120),:title=>attachment.attachment_file_name ) %></td>
        <!--td><%= attachment.attachment_file_name %></td-->
        <!--td><%= attachment.attachment_content_type %></td-->
        <td><%= attachment.attachment_file_size %></td>
        <td><%= attachment.attachment.url(:original)  %></td>
        <!--td><%= attachment.purpose %></td-->
        <!--td><%= attachment.note %></td-->
        <td><%= attachment.created_user %></td>
        <td><%= time_tag attachment.created_at, :format => :short if attachment.created_at?  %></td>
        <!--td><%= attachment.updated_user %></td>
        <td><%= time_tag attachment.updated_at, :format => :short if attachment.updated_at?  %></td>
        <td><%= attachment.deleted_user %></td>
        <td><%= time_tag attachment.deleted_at, :format => :short if attachment.deleted_at?  %></td-->
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                      attachment_path(attachment), :class => 'btn btn-mini' %>
          <% if can? :update, attachment %>
            <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
                      edit_attachment_path(attachment), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, attachment %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                      attachment_path(attachment),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @attachments %>
<br />

<% if can? :create, Attachment %>
  <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
            new_attachment_path,
            :class => 'btn btn-primary' %>
<% end %>
</div>
