<%- model_class = @news.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>

  <div class="mod_action btn-group">
    <button class="btn btn-primary"><%=t('.operate', :default => t("helpers.links.operate", :model => model_class.model_name.human)) %></button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <% if can? :create, News %>
          <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
                    new_news_path %>
        <% end %>
      </li>
      <li>
        <% if can? :read, @news %>
          <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
                    news_index_path  %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <% if can? :destroy, @news %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                    news_index_path(@news),
                    :method => 'delete',
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<%= render 'form' %>
