<%= simple_form_for([@question,@answer]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :body %>
    <%= f.input :created_by %>
    <%= f.input :question_id %>
    <%= f.input :opposition_count %>
    <%= f.input :opposition_ids %>
    <%= f.input :approval_count %>
    <%= f.input :approval_ids %>
    <%= f.input :expert_count %>
    <%= f.input :deleted_at %>
    <%= f.input :deleted_by %>
    <%= f.input :is_anonymous %>
    <%= f.input :no_help_count %>
    <%= f.input :no_help_ids %>
    <%= f.input :delta %>
    <%= f.input :state %>
    <%= f.input :created_at %>
    <%= f.input :updated_at %>
    <%= f.input :is_expert %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                question_answers_path(@question), :class => 'btn' %>
  </div>
<% end %>
