<%= show_for @answer do |s| %>
  <%= s.attribute :content %>
  <%= s.attribute :body %>
  <%= s.attribute :created_by %>
  <%= s.attribute :question_id %>
  <%= s.attribute :opposition_count %>
  <%= s.attribute :opposition_ids %>
  <%= s.attribute :approval_count %>
  <%= s.attribute :approval_ids %>
  <%= s.attribute :expert_count %>
  <%= s.attribute :deleted_at %>
  <%= s.attribute :deleted_by %>
  <%= s.attribute :is_anonymous %>
  <%= s.attribute :no_help_count %>
  <%= s.attribute :no_help_ids %>
  <%= s.attribute :delta %>
  <%= s.attribute :state %>
  <%= s.attribute :created_at %>
  <%= s.attribute :updated_at %>
  <%= s.attribute :is_expert %>
<% end %>

<div class="actions">
  <% if can? :read, @answer %>
    <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
              question_answers_path(@question), :class => 'btn'  %>
  <% end %>
  <% if can? :update, @answer %>
    <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
              edit_question_answer_path(@question,@answer), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @answer %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
              [@question,@answer],
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <% end %>
</div>
