
<%- model_class = Timeline.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class = "timelines box">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:parent) %></th>
      <th><%= model_class.human_attribute_name(:children) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
<%- indicates = true %>
<% @tag_timelines.each do |tag_timeline| %>
  <tr class=<%= (indicates =!indicates) ? "success" : "info"%>>
    <td><%= link_to tag_timeline.id, tag_identity_timeline_path(@identity,tag_timeline) %></td>
    <td><%= tag_timeline.name %></td>
    <td><%= link_to  @identity, tag_identity_path(@identity) if (tag_timeline.parent_id.present? and @identity.present?) %></td>
    <td><%= link_to tag_timeline.children.count, tag_identity_timeline_categories_path(@identity,tag_timeline) if tag_timeline.children.present? %></td>
    <td><%=time_tag tag_timeline.created_at, :format => :default if tag_timeline.created_at?     %></td>
    <td><%=time_tag tag_timeline.updated_at, :format => :default if tag_timeline.updated_at?     %></td>

    <td><%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                      tag_identity_timeline_path(@identity,tag_timeline), :class => 'btn btn-mini' %></td>
    <!--td><!--%= link_to 'Edit', edit_tag_identity_timeline_path(@identity,tag_timeline) %></td-->
    <!--td><!--%= link_to 'Destroy', tag_identity_timeline_path(@identity,tag_timeline), confirm: 'Are you sure?', method: :delete %></td-->
  </tr>
<% end %>
  </tbody>
</table>


<br />

<% if can? :create, "Timeline" %>
  <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
        new_tag_identity_timeline_path,
        :class => 'btn btn-primary'  %>
<% end %>
</div>
