<%= simple_form_for(@recommend_other_column) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :recommend_type %>
    <%= f.input :human_names, :input_html => { :placeholder => 'input the value split with ","', :value => (@recommend_other_column.human_names.join(",") if @recommend_other_column.human_names.present?) } %>
    <%= f.input :column_names, :input_html => { :placeholder => 'input the value split with ","', :value => (@recommend_other_column.column_names.join(",") if @recommend_other_column.column_names.present?) } %>
    <%# f.input :created_at %>
    <%# f.input :updated_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :disable_with => 'loading...' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                recommend_other_columns_path, :class => 'btn' %>
  </div>
<% end %>
