
<%= simple_form_for(@subject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :title2 %>
    <%= f.input :summary, :input_html => { :rows =>"5", :cols =>"100" } %>
    <!--%= f.input :content %-->
    <%= f.input :body, :input_html => { :rows =>"20", :cols =>"120" } %>
    <!--%= f.input :category %-->
    <!--%= f.input :sort_index %-->
    <!--%= f.input :releated_ids %-->
    <%= f.input :soft_deleted, :as => :boolean, :input_html => {:checked =>  @subject.deleted_at? ? "checked" : ""} %>
    <% if @subject.new_record? %>
      <%= f.input :created_by, :as => :hidden, :input_html => { :value => current_user.id} %>
    <% else %>
      <%= f.input :updated_by, :as => :hidden, :input_html => { :value => current_user.id} %>
    <% end %>
    <!--%= f.input :created_by %-->
    <!--%= f.input :created_at %-->
    <!--%= f.input :updated_by %-->
    <!--%= f.input :updated_at %-->
    <!--%= f.input :deleted_by_id %-->
    <!--%= f.input :deleted_at %-->
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :disable_with => 'loading...' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                subjects_path, :class => 'btn' %>
  </div>
<% end %>
