<%- model_class = @identity.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.show', :model => model_class.model_name.human) %></h1>
</div>

<%= show_for @identity do |s| %>
  <%= s.attribute :name %>
  <%= s.attribute :parent %>
  <%= s.attribute :children %>
  <%= s.attribute :description %>
  <%= s.attribute :created_at %>
  <%= s.attribute :updated_at %>
<% end %>

<div class="actions">
  <!--%= link_to 'Edit', edit_tag_identity_path(@identity) %-->
  <% if can? :read, @identity.class %>
    <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
              tag_identities_path, :class => 'btn'  %>
  <% end %>
</div>
