<%- model_class = Recommend::RecommendApp.new.class -%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<div class = "recommend_recommend_apps box">
<table class="table table-striped">
    <thead>
  <tr>

        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:position) %></th>
        <th><%= model_class.human_attribute_name(:body) %></th>
        <!--th><%# model_class.human_attribute_name(:deleted) %></th-->
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%= model_class.human_attribute_name(:updated_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
    </thead>
    <tbody>
<%- indicates = true %>
<% @recommend_recommend_apps.each do |recommend_recommend_app| %>
  <tr class=<%= (indicates =!indicates) ? "success" : "info"%>>
    <td><%= recommend_recommend_app.name %></td>
    <td><%= truncate(recommend_recommend_app.body, :length => 80) if recommend_recommend_app.body?  %></td>
    <td><%= timeago_tag(recommend_recommend_app.created_at, :format => :short) if recommend_recommend_app.created_at? %></td>
    <td><%= timeago_tag(recommend_recommend_app.updated_at, :format => :short) if recommend_recommend_app.updated_at? %></td>
    <td><%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)), recommend_recommend_app, :class => 'btn btn-mini' %></td>
    <td>
      <% if can? :update, recommend_recommend_app %>
        <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)), edit_recommend_recommend_app_path(recommend_recommend_app), :class => 'btn btn-mini' %>
      <% end %>
    </td>
    <td>
      <% if can? :destroy, recommend_recommend_app %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)), recommend_recommend_app, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
      <% end %>
      </td>
  </tr>
<% end %>
  </tbody>
</table>
  <%= will_paginate  @recommend_recommend_apps %>
<br />

  <% if can? :create, Recommend::RecommendApp %>
    <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)), new_recommend_recommend_app_path %>
  <% end %>

</div>
