<%- model_class = @model_class -%>
<div class="page-header">
  <h1><%=t('.archives', :default => t("helpers.titles.archives", :model => model_class.model_name.human)) %></h1>
</div>
<div class = "search_tag box">
  <%= form_tag(search_tag_path, :html => { :class=>"well form-search" }) do%>
    <%= search_field_tag :search_tag,(params[:search_tag] || I18n.t("menu.search_tag")), :class => "input-medium search-query" %>
    <!--%= f.button :submit, :class => 'btn', :disable_with => 'search ...' %-->
    <% unless @model_class.nil? %>
      <%= hidden_field_tag 'model', @model_class.to_s %>
    <% end %>
  <% end %>
</div>
<div class = "archives box">
<p>Drag and drop the categories into a nested set then hit save</p>
<ul id='sortable'>
  <% for cat in CategoryBase.roots %>
    <li id='category_<%= cat.id %>'>
      <span><%= cat.name %></span>
      <%= render 'shared/children', :item => cat unless cat.leaf? %>
    </li>
  <% end -%>
</ul>

<!--%= link_to t('.save_sorted', :default => t("helpers.links.save_sorted", :model => model_class.model_name.human)),
            '#',
            :class => 'btn btn-primary', :id => 'serialize'%-->
</div>
