
<%- model_class = Knowledge.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

  <div class="mod_action btn-group">
    <button class="btn btn-primary"><%=t('.operate', :default => t("helpers.links.operate", :model => model_class.model_name.human)) %></button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <% if can? :create, Knowledge %>
          <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
                    new_knowledge_path %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class = "knowledges box">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:summary) %></th>
      <!--th><%= model_class.human_attribute_name(:content) %></th-->
      <!--th><%= model_class.human_attribute_name(:body) %></th-->
      <!--th><%= model_class.human_attribute_name(:tags) %></th-->
      <!--th><%= model_class.human_attribute_name(:timeline_ids) %></th-->
      <!--th><%= model_class.human_attribute_name(:knowledgebase_category_id) %></th-->
      <th><%= obj_filter_drop_down_li(obj = "Knowledge", col="created_by",path=knowledges_path)%></th>
      <!--th><%= model_class.human_attribute_name(:created_name) %></th-->
      <th><%= model_class.human_attribute_name(:updated_user) %></th>
      <!--th><%= model_class.human_attribute_name(:deleted_at) %></th-->
      <!--th><%= model_class.human_attribute_name(:deleted_by) %></th-->
      <!--th><%= model_class.human_attribute_name(:delta) %></th-->
      <th><%= model_class.human_attribute_name(:thanks_count) %></th>
      <th><%= model_class.human_attribute_name(:forwarding_count) %></th>
      <th><%= model_class.human_attribute_name(:comments_count) %></th>
      <th><%= model_class.human_attribute_name(:views_count) %></th>
      <th><%= obj_filter_drop_down_li(obj = "Knowledge", col="source_info",path=knowledges_path)%></th>
      <!--th><%= model_class.human_attribute_name(:auto_tags) %></th-->
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%- indicates = true %>
    <% @knowledges.each do |knowledge| %>
      <tr class=<%= (indicates =!indicates) ? "success" : "info"%>>
        <td><%= link_to knowledge.id, knowledge_path(knowledge), :title => object_summary(obj = knowledge), :rel => "tooltip" %></td>
        <td><%= link_to knowledge.title, "http://bbtang.com/knowledges/#{knowledge.to_param}",  :title => "#{object_summary(obj = knowledge)} on bbtang.com", :rel => "tooltip" %></td>
        <td><%= knowledge.summary %></td>
        <!--td><%= knowledge.content %></td-->
        <!--td><%= knowledge.body %></td-->
        <!--td><%= knowledge.tags %></td-->
        <!--td><%= knowledge.timeline_ids %></td-->
        <!--td><%= knowledge.knowledgebase_category_id %></td-->
        <td><%= knowledge.created_user %></td>
        <!--td><%= knowledge.created_name %></td-->
        <td><%= knowledge.updated_user %></td>
        <!--td><%= knowledge.deleted_at %></td-->
        <!--td><%= knowledge.deleted_by %></td-->
        <!--td><%= knowledge.delta %></td-->
        <td><%= knowledge.thanks_count %></td>
        <td><%= knowledge.forwarding_count %></td>
        <td><%= knowledge.comments_count %></td>
        <td><%= knowledge.views_count %></td>
        <td><%= knowledge.source_info %></td>
        <!--td><%= knowledge.auto_tags %></td-->
        <td><%#l knowledge.created_at %><%= timeago_tag(knowledge.created_at, :format => :short) if knowledge.created_at?%></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                      knowledge_path(knowledge),
                      :class => 'btn btn-mini',
                      :title => "#{t("helpers.links.show", :model => model_class.model_name.human)} #{knowledge}",
                      "data-content" => object_summary(obj = knowledge, column = "summary"),
                       :rel => "popover" %>
          <% if can? :update, knowledge %>
            <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
                      edit_knowledge_path(knowledge),
                      :class => 'btn btn-mini',
                      :title => "#{t("helpers.links.edit", :model => model_class.model_name.human)} #{knowledge}",
                      "data-content" => object_summary(obj = knowledge, column = "summary"),
                       :rel => "popover"
                       %>
          <% end %>
          <% if can? :destroy, knowledge %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                      knowledge_path(knowledge),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @knowledges %>

<% if can? :create, Knowledge %>
  <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
            new_knowledge_path,
            :class => 'btn btn-primary' %>
<% end %>
</div>
