<%- model_class = @knowledge.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.show', :model => model_class.model_name.human) %></h1>

  <div class="mod_action btn-group">
    <button class="btn btn-primary"><%=t('.operate', :default => t("helpers.links.operate", :model => model_class.model_name.human)) %></button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>
        <% if can? :create, Knowledge %>
          <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)),
                    new_knowledge_path %>
        <% end %>
      </li>
      <li>
        <% if can? :read, @knowledge %>
          <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
                    knowledges_path  %>
        <% end %>
      </li>
      <li>
        <% if can? :update, @knowledge %>
          <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
                    edit_knowledge_path(@knowledge) %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <% if can? :destroy, @knowledge %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                    knowledge_path(@knowledge),
                    :method => 'delete',
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="content box">
	<%= show_for @knowledge do |k| %>
		<%= k.attribute :title %>
		<%= k.attribute :summary %>
    <%= k.attribute :face  do %>
      <%= image_tag @knowledge.face(:s120) if @knowledge.face.present? %>
    <% end %>
		<%= k.attribute :body, :value => (raw @knowledge.body)%>
		<%= k.attribute :thanks_count %>
		<%= k.attribute :forwarding_count %>
		<%= k.attribute :comments_count %>
		<%= k.attribute :views_count %>
		<%= k.attribute :source_info %>
		<%= k.attribute :identity_list %>
		<%= k.attribute :timeline_list %>
		<%= k.attribute :category_list %>
    <%= k.attribute :tag_list %>
		<%= k.attribute :created_at, :format => :short %>
		<%= k.attribute :created_user %>
		<%= k.attribute :updated_user %>
		<%= k.attribute :updated_at, :format => :short %>
		<%= k.attribute :deleted_by %>
		<%= k.attribute :deleted_user %>
		<%= k.attribute :deleted_at, :format => :short %>
	<% end %>
</div>
<div class="actions">
  <% if can? :read, @knowledge %>
    <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
              knowledges_path, :class => 'btn'  %>
  <% end %>
  <% if can? :update, @knowledge %>
    <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
              edit_knowledge_path(@knowledge), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @knowledge %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
              knowledge_path(@knowledge),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <% end %>
</div>
