<%- model_class = @knowledge.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="content box">
	<!--dl class="dl-horizontal">
		<dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
		<dd><%= @knowledge.title %></dd>
		<dt><strong><%= model_class.human_attribute_name(:summary) %>:</strong></dt>
		<dd><%= @knowledge.summary %></dd>
		<dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
		<dd><%= @knowledge.content %></dd>
		<dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
		<dd><%=raw @knowledge.body %></dd>
		<dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
		<dd><%= @knowledge.tags %></dd>
		<dt><strong><%= model_class.human_attribute_name(:timeline_ids) %>:</strong></dt>
		<dd><%= @knowledge.timeline_ids %></dd>
		<dt><strong><%= model_class.human_attribute_name(:knowledgebase_category_id) %>:</strong></dt>
		<dd><%= @knowledge.knowledgebase_category_id %></dd>
		<dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
		<dd><%= @knowledge.created_by %></dd>
		<dt><strong><%= model_class.human_attribute_name(:created_name) %>:</strong></dt>
		<dd><%= @knowledge.created_name %></dd>
		<dt><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
		<dd><%= @knowledge.updated_by %></dd>
		<dt><strong><%= model_class.human_attribute_name(:deleted_at) %>:</strong></dt>
		<dd><%= @knowledge.deleted_at %></dd>
		<dt><strong><%= model_class.human_attribute_name(:deleted_by) %>:</strong></dt>
		<dd><%= @knowledge.deleted_by %></dd>
		<dt><strong><%= model_class.human_attribute_name(:delta) %>:</strong></dt>
		<dd><%= @knowledge.delta %></dd>
		<dt><strong><%= model_class.human_attribute_name(:thanks_count) %>:</strong></dt>
		<dd><%= @knowledge.thanks_count %></dd>
		<dt><strong><%= model_class.human_attribute_name(:forwarding_count) %>:</strong></dt>
		<dd><%= @knowledge.forwarding_count %></dd>
		<dt><strong><%= model_class.human_attribute_name(:comments_count) %>:</strong></dt>
		<dd><%= @knowledge.comments_count %></dd>
		<dt><strong><%= model_class.human_attribute_name(:views_count) %>:</strong></dt>
		<dd><%= @knowledge.views_count %></dd>
		<dt><strong><%= model_class.human_attribute_name(:source_info) %>:</strong></dt>
		<dd><%= @knowledge.source_info %></dd>
		<dt><strong><%= model_class.human_attribute_name(:auto_tags) %>:</strong></dt>
		<dd><%= @knowledge.auto_tags %></dd>
	</dl-->
	<%= show_for @knowledge do |k| %>
		<%= k.attribute :title %>
		<%= k.attribute :summary %>
		<%= k.attribute :body, :value => (raw @knowledge.body)%>
		<%= k.attribute :thanks_count %>
		<%= k.attribute :forwarding_count %>
		<%= k.attribute :comments_count %>
		<%= k.attribute :views_count %>
		<%= k.attribute :source_info %>
		<%= k.attribute :identity_list %>
		<%= k.attribute :timeline_list %>
		<%= k.attribute :category_list %>
    <%= k.attribute :tag_list %>
		<%= k.attribute :created_at, :format => :short %>
		<%= k.attribute :created_user %>
		<%= k.attribute :updated_user %>
		<%= k.attribute :updated_at, :format => :short %>
		<!--%= k.association :tags, :to_sentence => true %-->
		<!--%= k.association :timeline_ids, :to_sentence => true %-->
		<!--%= k.association :knowledgebase_category_id, :to_sentence => true %-->
	<% end %>
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)),
              knowledges_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
              edit_knowledge_path(@knowledge), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
              knowledge_path(@knowledge),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
