<div id = "hot_tags_dail">
  <% if @model_class.present?%>
    <div id = "hot_tags_dail">
      <%- model_class = @model_class.new.class -%>
      <!--div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
      </div-->


      <div class="tabbable box"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <% @tags_hash.each do |k,_|%>
          <li <%= "class='active'" if k.eql? @tags_hash.keys.first %>>
            <%= link_to model_class.human_attribute_name(k),"##{k}", "data-toggle" => "tab"%></li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% @tags_hash.each do |k,v|%>
            <div class="tab-pane <%= 'active' if k.eql? @tags_hash.keys.first %>" id='<%= k.to_s%>'>
              <% if v.present? %>
                <% tag_cloud(v, %w(css1 css2 css3 css4 css5)) do |tag, css_class| %>
                <%= link_to "#{tag.name}(#{tag.count})", "#", :class => css_class, :title => tag.count %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    no content ...
  <% end %>
</div>
