<%- model_class = @auth_user.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.show', :model => model_class.model_name.human) %></h1>
</div>

<%= show_for @auth_user do |s| %>
  <%= s.attribute :username %>
  <%= s.attribute :email %>
  <!--%= s.attribute :password %-->
  <%= s.association :cms_roles, :collection_tag => :ol do |cms_role| %>
    <li><%= cms_role.name if cms_role %></li>
  <% end %>
  <%= s.attribute :sign_in_count %>
  <%= s.attribute :last_sign_in_at %>
<% end %>


<%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)), edit_auth_user_path(@auth_user), :class => 'btn' %> |
<%= link_to t('.back', :default => t("helpers.links.back", :model => model_class.model_name.human)), auth_users_path, :class => 'btn' %> |
<%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)), auth_user_path(@auth_user),
              :method => 'delete',
              :confirm => t('.confirm',
              :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
