<%- model_class = Recommend::RecommendPtag.new.class -%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<div class = "recommend_recommend_ptag box">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <!--th><%= model_class.human_attribute_name(:body) %></th-->
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%= model_class.human_attribute_name(:updated_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @recommend_recommend_ptags.each do |recommend_recommend_ptag| %>
        <tr>
          <td><%= recommend_recommend_ptag.name %></td>
          <!--td><%= recommend_recommend_ptag.body %></td-->
          <td><%= recommend_recommend_ptag.created_at %></td>
          <td><%= recommend_recommend_ptag.updated_at %></td>
          <td><%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)), recommend_recommend_ptag, :class => 'btn btn-mini' %>
              <% if can? :update, recommend_recommend_ptag %>
              <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)), edit_recommend_recommend_ptag_path(recommend_recommend_ptag), :class => 'btn btn-mini' %>
              <% end %>
              <% if can? :destroy, recommend_recommend_ptag %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)), recommend_recommend_ptag, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
              <% end %>
              </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br />

<% if can? :create, "Recommend::RecommendPtag" %>
  <%= link_to t('.new', :default => t("helpers.links.new", :model => model_class.model_name.human)), new_recommend_recommend_ptag_path %>
<% end %>
</div>
