<% if item_list.present? %>
  <!--commit code for default case case-->
  <!--div class="modal hide" id="<%= item.id %>"-->
  <div class="modal" id="<%= item.id %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Tags as: <%= item.name %></h3>
    </div>
    <div class="modal-body">
      <%- model_class = @model_class unless @model_class.nil? -%>
      <% unless model_class.nil?%>
        <div class = "items box">
          <table class="table table-condensed">
            <thead>
              <tr>
                <% model_columns_collection(@model_class, whitelist = true,except = ["summary","body","content","thanks_count", "forwarding_count", "comments_count", "views_count"]).each do |column|%>
                  <th><%= model_class.human_attribute_name(column[1]) if column.present?  %></th>
                <% end %>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% if item_list.present? %>
                <% item_list.each do |item| %>
                  <tr>
                  <% model_columns_collection(@model_class, whitelist = true,except = ["summary","body","content","thanks_count", "forwarding_count", "comments_count", "views_count"]).each do |column|%>
                    <td><%= item.read_attribute(column[1]) if column.present?  %></td>
                  <% end %>
                    <td>
                      <% if self.respond_to? "auth_#{item.class.to_s.underscore.gsub("/","_")}_path" %>
                                <%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                                   send("auth_#{item.class.to_s.underscore.gsub("/","_")}_path", item), :class => 'btn btn-mini' %>
                      <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
                                  send("edit_auth_#{item.class.to_s.underscore.gsub("/","_")}_path", item), :class => 'btn btn-mini' %>
                      <!--%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                                   send("auth_#{item.class.to_s.underscore.gsub("/","_")}_path", item)
                                  :method => :delete,
                                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                  :class => 'btn btn-mini btn-danger' %-->
                      <% else %>
                        <%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                                     send("#{item.class.to_s.underscore.gsub("/","_")}_path", item), :class => 'btn btn-mini' %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit", :model => model_class.model_name.human)),
                                    send("edit_#{item.class.to_s.underscore.gsub("/","_")}_path", item), :class => 'btn btn-mini' %>
                        <!--%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                                     send("#{item.class.to_s.underscore.gsub("/","_")}_path", item)
                                    :method => :delete,
                                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                    :class => 'btn btn-mini btn-danger' %-->
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <!--%= will_paginate item_list %-->
        </div>
      <% end %>
      <!--%= render 'common/list_model', :model_class => (@model_class unless @model_class.nil?), :item_list => item_list  %-->
    </div>
    <div class="modal-footer">
      <a href="#<%= item.id %>" class="btn close" data-dismiss="modal">Close</a>
      <!--a href="#" class="btn btn-primary">Save changes</a-->
    </div>
  </div>
<% end %>
