<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
      </a>
      <%= link_to t('.appname', :default => t("layout.appname")), root_path, :class => "brand" %>
      <div class="nav-collapse">
        <% if current_user.present? and current_user.is_cms_user? %>
          <ul class="nav">
            <li><%= link_to t('.index', :default => t("helpers.titles.index", :model => Knowledge.new.class.model_name.human)),
          knowledges_path %></li>
            <li><%= link_to t('.index', :default => t("helpers.titles.index", :model => News.new.class.model_name.human)),
          news_index_path %></li>
            <li><%= link_to t('.index', :default => t("helpers.titles.index", :model => Question.new.class.model_name.human)),
          questions_path %></li>
            <li><%= link_to t('.index', :default => t("helpers.titles.index", :model => Subject.new.class.model_name.human)),
          subjects_path %></li>
            <li><%= link_to t('.tags'),tag_dashboard_path %></li>
            <li><%= link_to t('.recommend'),recommend_dashboard_path %></li>
            <li><%= link_to t('.index', :default => t("helpers.titles.index", :model => Profile.new.class.model_name.human)),
          profiles_path %></li>
          <% if current_user.present? and current_user.admin_group? %>
            <li><%= link_to t('.admin'),admin_base_settings_path %></li>
          <% end %>
          <% if current_user.present? and current_user.admin_group? %>
            <li><%= link_to t('.auth'),auth_dashboard_path %></li>
          <% end %>
          </ul>
            <!--%= render "common/search_form" %-->
        <% end %>
      </div><!--/.nav-collapse -->
      <div class="btn-group pull-right">
        <% if user_signed_in? %>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i><%= "#{current_user}" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("layout.menu.work_dashboards"), work_dashboards_path %></li>
            <li class="divider"></li>
            <li><%= link_to t("common.logout"),destroy_user_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i><%= t("layout.menu.unauthorized_user") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("common.register"), new_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to t("common.login"), new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
