<%= render 'top_nav_bar', model_class: SourceTracker.new.class%>
<%- model_class = SourceTracker.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

  <%= render("common/mod_newest_summary", model_class: model_class) if model_class.present?%>
  
</div>

<div class = "source_trackers box">
<table  class="table table-striped">
  <thead>
    <tr>
      <th><%= mongoid_obj_filter_drop_down_li(obj = "SourceTracker", field="platform",path= source_trackers_path) %></th>
      <th><%= mongoid_obj_filter_drop_down_li(obj = "SourceTracker", field="from",path= source_trackers_path) %></th>
      <th><%= mongoid_obj_filter_drop_down_li(obj = "SourceTracker", field="version_number",path= source_trackers_path) %></th>
      <th><%= model_class.human_attribute_name(:ip) %></th>
      <th><%= mongoid_obj_filter_drop_down_li(obj = "SourceTracker", field="ip",path= source_trackers_path)%></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  
  <tbody>
    <%- indicates = true %>
    <% @source_trackers.each do |source_tracker| %>
      <tr>
        <td><%= source_tracker.platform %></td>
        <td><%= source_tracker.from %></td>
        <td><%= source_tracker.version_number %></td>
        <td><%= source_tracker.ip %></td>
        <td><%= source_tracker.city %></td>
        <td><%= source_tracker.url %></td>
        <td><%= timeago_tag(source_tracker.created_at, :format => :short) if source_tracker.created_at? %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show", :model => model_class.model_name.human)),
                      source_tracker_path(source_tracker),
                      :class => 'btn btn-mini'
                       %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy", :model => model_class.model_name.human)),
                    source_tracker_path(source_tracker),
                    :method => :delete,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                    :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<i><%= "本次检索： #{@source_trackers.count}"%></i>
<%= will_paginate @source_trackers %>
<br />
<%# form_tag(query_source_tracker_path, :method => :put) do |f| %>

<%= link_to '测试', new_source_tracker_path(source_tracker: {platform: "email", from: "bbtang", version_number: "week1"}) %>

</div>
